@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
body{
   background-color: #1e1e1e;
   height: 100vh;
   color: aqua;
}
*{
   margin: 0;
   padding: 0;
}
.center{
   display: flex;
   justify-content: center;
   align-items: center;
}
.en{
   position: absolute;
   right: 5px;
   bottom: 5px;
   font-family: 'Mynerve', cursive;
   font-size: 1.5em;
}
.cim{
   position: absolute;
   left: 0px;
   top: 0px;
   font-size: 4em;
   font-family: 'Tilt Prism', cursive;
}
.bogyo{
   height: 50px;
   width: 50px;
   box-shadow: inset 0 0 10px gainsboro;
   border-radius: 10px;
   margin: 2px;
   text-align: center;
   color: darkturquoise;
}
.egyes{
   position: absolute;
   top: 10px;
   opacity: 0.6;
}
.kozepe{
   box-shadow: inset 0 0 10px yellow;
}
.bogyo2{   
   height: 75px;
   width: 75px;
   box-shadow: inset 0 0 10px gold;
   border-radius: 10px;
   margin: 10px;
   text-align: center;
   color: red;
}
.kettes{
   position: absolute;
   bottom: 15px;
}
.csereg{
   height: 75px;
   width: 75px;
   box-shadow: inset 0 0 10px chartreuse;
   border-radius: 10px;
   margin: 10px;
   text-align: center;

}
.csereg:hover{
   cursor: pointer;
}
.bogyo2:hover{
   cursor: pointer;
}